{% extends 'base.html' %}


{% block content %}
<br/>
<br/>
<div class="row">

  <div class="col-10">
    <h1>   {{product.title}}</h1>
  </div>
  <div class="col-2">
    <h3> Price: Rs{{product.price}}</h3>
</div>
<br/>


<div class="row">
  <div class="col-10">
    <img src="{{product.image.url}}" class='image-fluid'height=600 width=600/ >
  </div>
  <div class="col-2">


      <p>{{product.body}}</p>



  </div>

</div>

<br/>
  <br/>
  <div class="row">
    <div class="col-12">
  <a href="{% url 'addcart' product.id %}"><button class='btn btn-primary btn-lg btn-block'><i class="fa fa-caret-up"></i> Add to cart</button></a>
    </div>
    </div>



  {% endblock %}
